
<div class="container">
  <h1><%= @cocktail.name %></h1>
  <% if @cocktail.photo.present? %>
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <% else %>
    <%= cl_image_tag("cocktail_main",
      width: 400, height: 300, crop: :fill) %>
  <% end  %>

    <table>
      <thead>
        <tr>
          <th>Dose</th>
          <th>Ingredient</th>
        </tr>
      </thead>
      <tbody>
        <% @cocktail.doses.each do |dose| %>
          <tr>
            <td> <%= dose.description %>
            </td>
            <td>
              <%= dose.ingredient.name %>
            </td>
            <td>
              <%= link_to 'Delete', dose_path(id: dose), method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <div class="bottom-links">
    <%= link_to '- Add a new dose', new_cocktail_dose_path(@cocktail) %>
  </div>
  <div class="bottom-links">
    <%= link_to 'Back', cocktails_path %>
  </div>
</div>
