
<div class="container">
  <h1><%= @cocktail.name %></h1>

  <div>
    <table>
      <thead>
        <tr>
          <th>Ingredient</th>
          <th>Dose</th>
        </tr>
      </thead>

      <tbody>
        <% @cocktail.doses.each do |dose| %>
          <tr> <%= dose.ingredient.name %> <%= dose.description %> | <%= link_to 'Destroy', dose_path(id: dose), method: :delete, data: { confirm: 'Are you sure?' } %></tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Add a new dose', new_cocktail_dose_path(@cocktail) %>
  <%= link_to 'Back', cocktails_path %>
</div>
