
<div class="container">
  <h1>New dose for <%= @cocktail.name %></h1>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.input :ingredient_id, collection: Ingredient.all.each {|ingredient| ingredient.name} %>
    <%= f.submit "Add dose" %>
  <% end %>



</div>
